body {
   margin: 0;
}

header {
    background: #ccc;
    padding: 20px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    position: absolute;
    border: 1px solid grey;
    background: white;
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p {
    text-align: center;
}

#numbers {
    display: none;
}

.show {
    display: block;
}
/* not applied to anything in HTML, but class is created to use in JS */