body {
    height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 250px;
}

#quantity {
    width: 30vw;
}

#coins {
    width: 30vw;
}

.quantityInput {
    margin: 10px;
}

.coinInput {
    margin: 10px;
    margin-bottom: 20px;
}

.coin {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50% ;
    display: flex;
    justify-content: center;  
    align-items: center;
    
}

.coinSection {
    display: flex;
    flex-wrap: wrap;
}
